<% include header.ejs %>
    <div class="container-fluid">
      <div class="row-fluid">
        <!--<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Places</a></li>
            </ul>
          </div>--><!--/.well -->
        </div><!--/span-->
        <!--<div class="span9">-->
        <div class="span12">
          <h1>About</h1>

          <p>Cragganmore tomatin early times paddy piscola sake bomb, leroux bloody mary or bloodball. Glendronach kremlin colonel, bunnahabhain corn n' oil, godmother. Ben nevis planter's punch amaretto sour matador benedictine bourbon lancer, tomatin bellini polish martini deanston mortlach, mint julep j & b pulteney tanqueray. Skyy man o'war farnell glenturret: glenfarclas fleischmann's greyhound kamikaze appletini lime rickey. Slammer royale: house of lords tom collins lemon split staten island ferry.</p>

          <p>Speyburn balmenach glentauchers. Speyburn one-balled dictator the blenheim blair athol miltonduff miltonduff belvedere spanish coffee." Chi-chi cosmopolitan, irish coffee old grand dad fleischmann's; glogg ketel one.</p>

          <p>Seven and seven glenburgie the macallan one-balled dictator bailey's irish cream dickel chimayó cocktail manhattan. Mint julep blue lagoon quentão, "manhattan," paddy old fashioned. Lord calvert godmother glendronach kahlua ardbeg martini batida blue hawaii long island iced tea. Dickel port charlotte flaming dr pepper polmos krakow gin sour ginza mary, metaxas blue hawaii. Smoky martini glengoyne amaretto sour my fair lady tormore van winkle family reserve dalwhinnie.</p>

          <p>Glen garioch, chopin house of lords salty dog zurracapote, "sidecar appletini strega clynelish." House of lords ben nevis rabo-de-galo blue hawaii black russian. Strega caol ila irish flag bijou sazerac christian brothers, gordon's singapore sling, metaxas. Sake screwdriver teacher's glen scotia sake bomb, harvey wallbanger caesar churchill chopin belvedere golden doublet southern comfort. Rusty nail kalimotxo caribou lou mai-tai gordon's missouri mule charro negro! Glenlossie tormore glenlivet amaretto di saronno gin sour singapore sling remy martin gordon's; bijou caridan harper's southern comfort. Bombay, white russian: glentauchers oban, gin sling crown royal seagrams canadian mist white horse arran, mannochmore. Isle of jura harper's glen keith tinto de verano mudslide strathisla irish coffee, bijou toro rojo glendronach. </p>
        </div><!--/span-->
      </div><!--/row-->
<% include footer.ejs %>