<% include header.ejs %>
    <div class="container-fluid">
      <div class="row-fluid">
        <!--<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Places</a></li>
            </ul>
          </div>--><!--/.well -->
        </div><!--/span-->
        <!--<div class="span9">-->
        <div class="span12">
          <h1>Contact</h1>

          <p>Cragganmore tomatin early times paddy piscola sake bomb, leroux bloody mary or bloodball. Glendronach kremlin colonel, bunnahabhain corn n' oil, godmother. Ben nevis planter's punch amaretto sour matador benedictine bourbon lancer, tomatin bellini polish martini deanston mortlach, mint julep j & b pulteney tanqueray. Skyy man o'war farnell glenturret: glenfarclas fleischmann's greyhound kamikaze appletini lime rickey. Slammer royale: house of lords tom collins lemon split staten island ferry.</p>

        </div><!--/span-->
      </div><!--/row-->
<% include footer.ejs %>